<nav class="navbar navbar-expand-lg navbar-inverse">
	  <div class="container-fluid">
		
		  <a class="navbar-brand" href="#">
		  	<%= image_tag("swt.png", size: "", class:"img-responsive", id:"navbar-logo")%></a>
		  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
		    <span class="navbar-toggler-icon"></span>
		  </button>
		   <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
		    <div class="navbar-nav lg">
		      <a class="nav-item nav-link active" href="#">Home <span class="sr-only">(current)</span></a>
		      <a class="nav-item nav-link" href="#">Features</a>
		      <a class="nav-item nav-link" href="#">About</a>
			</div>
			</div>
	  </div>
	</nav>
